<% provide(:title, 'Contact us') %>


  <h2>Contact Us</h2>

    <address>
        <strong>Amit K. Dudhaiya</strong><br>
        Bhagvati Para,<br>
        Dhoraji Road,<br>
        Kalawad(Shitla)-361160<br>
        Dist-Jamnagar(Gujarat,India)<br>
        <abbr title="Mobile No.">Mo:</abbr> 9427943879<br>
        <a href="mailto:#">amit_dudhaiya@hotmail.com</a>
    </address>



